.alert{text-align: center;
    margin-top: 1%;
}

.avatarimage{
    width: 20%;
    height: 20%;
}

.avatarviewrecords{
    height: 100px

}
.avatarview{
    /* height: 2.5%; */
    width: 50%;

}

body{
    background-color:darkgray;
    height: 100%;
    margin: 0px;
}
html{height: 100%;}

.collapsenav{
    margin-right: 2%;
}

#footer{
    text-align: center;
    background-color:gray;
    color: white;
    position: fixed; bottom:0px;
    width: 100%;
}

.getline{
    margin: 1%;

}
.gettext{
    display: inline;
}

.indexsubmitbutton{
    margin-top: 1%;

}
#loginbutton{
    margin-top: 2%;
}

#navitemslist{
    position: absolute; right: 2%;
}


.navbar-brand{
    margin-left: 2%;
}

.navbar{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.pagecontentdiv{background-color:whitesmoke    ;
    margin: 2%;
    margin-top: 1%;
    padding: 3%;
    
    

}

#successfullregistration{
    color: green;

}


#unsuccessfullregistration{color: red;}




.card{align-self: center;
text-align: center;
}

#errormessage{
    text-align: center;
}


